.categoryBox {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 200px;
  border-radius: 10px;
}

.swiperSlideBox {
  background-color: white;
  border-radius: 10px;

  &:hover {
    transform: translateY(-30px);
    transition: all 0.4s;

    background-color: rgb(15, 206, 249);
    color: white !important;
  }
}
